<strong>Olá {{ owner }}, </strong>
<p>Há uma nova inscrição em sua Meetup: <strong>{{title}}</strong></p>
<p>
  <p>Caso queira entrar em contato com o participante, segue os dados abaixo:</p>
  <strong>Nome: </strong> {{subscriberName}} </br>
  <strong>Email: </strong> {{subscriberEmail}} </br>
  <p>A Meetup está agendada para <strong>{{date}}.</strong></p>
  <p>Tenha um ótimo encontro!</p>
</p>
